@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #72379c #0a090b;
  font-family: "Inter", sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #0a090b;
}

*::-webkit-scrollbar-thumb {
  background-color: #9a5fca;
  border-radius: 8px;
  border: 0px none #ffffff;
}

@layer base {
  body {
    @apply bg-[#0A090B];
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-white;
  }

  p {
    @apply text-base text-white;
  }
}
